@import '../../../App.styles.scss';

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0.4px solid #ccc;
  text-align: justify;
  background: white;
  font-size: 14px;
  padding: 0px 15px;
  margin-bottom: 10px;

  .post-user {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;

    .user-info {
      padding: 0px 10px;

      .user-name {
        margin: 0;
        color: $primary-color;
        font-size: 18px;

        &:hover {
          // border-bottom: 1px solid $primary-color;
          cursor: pointer;
        }
      }
    }

    .post-published {
      font-size: 14px;
      margin: 0px;
      color: grey;
    }
  }

  .post {
    padding: 0 10px;
    font-size: 16px;
    align-self: flex-start;
    text-align: justify;
  }

  .post-buttons {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;

    .btn {
      color: #525050;
      font-weight: bold;
      height: 35px;
      font-size: 16px;
      width: 100%;
      border: none;
      background: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      // TODO: HAVE THE LIKE FUNCITONALITY TO ADD THIS CLASS DYNAMICALLY
      &.liked {
        color: $primary-color;
      }

      &:hover {
        background: #f0f0f0;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
