@import '../../../App.styles.scss';

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  padding: 5px 15px;
  margin-bottom: 10px;

  .post-header {
    width: 100%;
    height: 100%;
    padding: 10px 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: start;

    .user-profile {
      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }

    .user {
      padding: 0px 10px;

      .user-name {
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }
      }

      .post-published {
        font-size: 14px;
        margin: 5px 0 0;
        color: grey;
      }
    }

    .options {
      margin-left: auto;
      align-self: center;

      #options-menu {
        background: none;
        color: #ccc;
        font-weight: bold;
        font-size: 20px;
        box-shadow: none;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .dropdown-toggle::after {
        content: none;
      }
    }
  }

  .post-content {
    padding: 0 10px;
    font-size: 16px;
    align-self: flex-start;
    text-align: justify;
  }

  .post-footer {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;

    .btn-custom {
      color: #525050;
      font-weight: bold;
      font-size: 16px;
      padding: 10px 0;
      width: 100%;
      border: none;
      background: white;

      // TODO: HAVE THE LIKE FUNCITONALITY TO ADD THIS CLASS DYNAMICALLY
      &.liked {
        color: $primary-color;
      }

      &:hover {
        background: #f0f0f0;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
