@import '../../../App.styles.scss';

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 25px 0;

  .post-input {
    height: 50px;
    background: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.2s all;

    &:focus {
      color: black;
      opacity: 1;
      border: 1px solid $primary-color;
      outline: none;
    }

    &:hover {
      color: black;
      border: 1px solid $primary-color;
      opacity: 1;
    }
  }

  .post-btn {
    border: none;
    width: 92%;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    background: $primary-color;
    color: white;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background: $primary-color-hover;
      transition: 0.2s;
    }

    &:disabled {
      cursor: default;
      background: $primary-color-disabled;
    }

    &:focus {
      outline: none;
    }
  }
}
