@import '../../../scss/variables';

.btn {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: 1.5rem 0 0.5rem;
  width: 100%;
  background-color: lighten($color-primary, $amount: 5);
  transition: all 0.2s;
  color: $color-white;
  font-size: 1.7rem;
  font-weight: 300;
  border-radius: 50rem;
  box-shadow: 0 0.5rem 0.5rem rgba($color-dark-1, 0.2);
  outline: none;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 0.5rem rgba($color-dark-1, 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba($color-dark-1, 0.2);
  }
}
