@import '../../../App.styles.scss';

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
  font-size: 14px;

  label {
    padding: 5px 0;
    align-self: flex-start;
  }

  input {
    padding: 7px;
    color: #ccc;
    transition: 0.3s all;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      outline: none;
      border: 1px solid $primary-color;
      color: black;
    }

    &:hover {
      color: black;
    }
  }
}
