@import './scss/variables';
@import './scss/mixins';

body {
  background-image: url('./assets/images/app-background.png');
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-text;
}

textarea {
  resize: none;
}
