$primary-color: #1d33f0;
$primary-color-hover: #182ac7;
$primary-color-disabled: #1d32f0a4;

body {
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.app {
  padding: 20px;
}
