// COLORS
$primary-color: #3049d1;
$primary-color-light: #7889e3;
$primary-color-dark: #0d2291;

$color-blue-light: #5166d9;
$color-blue-dark: #112eca;

$primary-color-hover: #182ac7;
$primary-color-disabled: #1d32f0a4;

$secondary-color: #071ce1;
$success-color: #3ec714;
$success-color-hover: #45db17;

$tertiary-color: #4354f1;

$light-color: #6c79f1;
$dark-color: #0716a1;

// FONTS
$default-font-size: 1.6rem;
$color-text: #777;
$color-white: #fff;
