// COLORS
$color-primary: #3049d1;
$color-primary-light: #7889e3;
$color-primary-dark: #0d2291;

$color-danger-1: #D5131D;

$color-blue-light: #5166d9;
$color-blue-dark: #112eca;

$color-primary-hover: #182ac7;
$color-primary-disabled: #1d32f0a4;



$secondary-color: #071ce1;
$success-color: #3ec714;
$success-color-hover: #45db17;

$tertiary-color: #4354f1;

$light-color: #6c79f1;
$dark-color: #0716a1;

$color-grey-1: #333;
$color-grey-2: #777;
$color-dark-1: #000;

// FONTS
$default-font-size: 1.6rem;
$color-text: #777;
$color-white: #fff;
